このメールは、電子カルテOpenDolphinの評価をお申し込みの方に自動転送しています。
もしお心あたりの無い方は、おそれいりますが至急ご連絡をお願いいたします。

お申し込みいただいた内容に基づき、次のアカウントを作成しました。

施設名: ${account.getFacilityName()}
医療機関ID: ${account.getFacilityId()}
ご住所: ${account.getFacilityZipCode()} ${account.getFacilityAddress()}
電話番号: ${account.getFacilityTelephone()}
お名前: ${account.getUserName()}

ご利用にあたり、上記の医療機関IDをOpenDolphinの「サーバ設定画面・医療機関ID欄」にコピーペーストし、ログインしてください。
数字の前後や途中に空白は含まれません。正確にコピー・ペーストをお願いいたします。

またこのIDは、同じ施設内で別な方のアカウントを作成する時等に必要です。紛失されないように管理をお願いいたします。
お申し込みありがとうございました。

----------------------------------------------------
「アカウント情報の取り扱いについて」

ライフ・サイエンス・コンピューティング（株）は、お客様のアカウント情報を次の目的のみに使用いたします。

利用目的
（１）OpenDolphin クラウドサービスのユーザ認証を行うため。
（２）バージョンアップ等、サービスを提供するうえで必要なお知らせを行うため。
（３）よりよいサポートを提供するため。

----------------------------------------------------------------------------------
ライフ・サイエンス・コンピューティング（株）
171-0022 東京都豊島区南池袋2-30-12富士火災池袋ビル7F
電話 03-5911-1455  FAX 03-5911-1456
URL http://www.lscc.co.jp
Email dolphin@lscc.co.jp
----------------------------------------------------------------------------------
